.dropdown-menu {
  position: absolute;
  top: 7.8vh;
  background-color: white;
  color: #476783;
  padding:0px 100px 0px 100px;
  width: 100px !important;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
 
  
}

.li-element {
 
  padding: 0.5rem;
  font-size: medium;
  font-weight:bold;
  text-decoration: none;
  color: black;


}
